     <section>
        <div class="casos-de-exito ">
          <div class="casos-dexito">
         Testimonios
          </div >
          
          <div  class=" container-fluid">
          
       

              
              <div class="carousel-item active ">
                <div class="container row ">
                    <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comillas.png" /> 
 
                          </div>
                      <p>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure qui cupiditate eaque voluptas earum eligendi. Labore excepturi harum autem voluptates officia minima recusandae delectus.</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2 container-photo">
                        <img src="../../../assets/samplephoto.jpg" alt="" class="client-photo">
                      </div>
                      <div class="col">
                        <div>
                          María y Ramón
                        </div>
                        <span class="client-proffesion">
                          Bogota / Junio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card   col m-2" >
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comillas.png" /> 
     
                          </div>
                      <p>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor optio natus aperiam atque libero reiciendis veniam illum veritatis. Asperiores maxime molestiae velit similique saepe nostrum.</span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-2 container-photo ">
                        <img src="../../../assets/samplephoto.jpg" alt="" class="client-photo">
                      </div>
                      <div class="col">
                        <div>
                            Emiliano 
                        </div>
                        <span class="client-proffesion">
                           Medellin/ Julio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-card col m-2">
                <div class="contents">
                  <div class="container">
                    <div>
                        <div class="comillas">
                            <img class="quotes m-2" src="../../../assets/comillas.png" /> 
                  
                          </div>
                      <p>
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga vero ad sit quia cupiditate placeat officiis excepturi neque! Quae pariatur nostrum autem. Odit, molestiae adipisci!   </span>
                      </p>
                    </div>
                    <div class="row ">
                      <div class="col-2 container-photo">
                        <img src="../../../assets/samplephoto.jpg" alt="" class="client-photo">
                      </div>
                      <div class="col  ">
                        <div>
                            Laura
                        </div>
                        <span class="client-proffesion ml-2">
                            Honda / Julio 2024
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

              </div>
              

          </div>

        </div>
      </section>

