<!--<nav class="bg-primary1 p-4 title-font">
  <div class="container mx-auto flex justify-between items-center">
	<a href="#" class="text-white text-lg font-bold">Logo</a>
	<div class="hidden md:flex space-x-4">
	  <a href="#" class="text-gray-300 hover:text-white">Home</a>
	  <a href="#" class="text-gray-300 hover:text-white">About</a>
	  <a href="#" class="text-gray-300 hover:text-white">Services</a>
	  <a href="#" class="text-gray-300 hover:text-white">Contact</a>
	</div>
	<div class="md:hidden">
	  <button class="text-gray-300 hover:text-white focus:outline-none">
		<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
		</svg>
	  </button>
	</div>
  </div>
</nav>-->

<!-- Top Bar -->
<div class="top-bar">
  <div class="brand">Life House</div>
  <div class="contact">
    <span class="material-icons">email</span>
    <a href="mailto:romeroblessjunior@gmail.com">romeroblessjunior</a>
  </div>
</div>

<!-- Bottom Navigation -->
<nav class="main-nav">
  <a routerLink="/">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/services">Services</a>
  <a routerLink="/pricing">Pricing</a>
  <a routerLink="/contact">Contact</a>
</nav>
